<button class="btn btn-primary" [disabled]="!allowNewServer" 
(click)="onCreateServer()">Add Server</button>
<!-- <label>Server Name</label> -->
<!-- <input (input)="updateServerName($event)"/> -->
<input type="text" class="form-control" [(ngModel)]="serverName" />
{{serverName}}
<p>{{serverCreationStatus}}</p>

<input type="text" class="form-control" [(ngModel)] = "username" />
<button class="btn btn-primary" [disabled]="username === ''" (click)="username = ''">Add User</button>
<p>Enterd username is {{username}}</p>
<app-server></app-server>
<app-server></app-server>
